{% load humanize i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOACscan</title>
    <link rel="stylesheet" href="{% get_static_prefix %}assets/css/app.css">
  </head>
  <body>
    <!-- Add a Sticky Menu -->
    <!-- title bar
      <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">MOACscan</div>
      </div>
    -->
    <div class="top-bar align-justify small-padding-0 padding-0" style="font-size:150%;" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="/">MOACSCAN</a></li>
          <li>
            <a href="/#resoruce">RESOURCE</a>
            <ul class="menu">
              <li><a href="#links">Links</a></li>
              <li><a href="#subchain">Subchain</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="https://live.daszichan.com" target="_new">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LIVE</a></li>
          <li>
            <a href="/#ledger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEDGER</a>
            <ul class="menu">
              <li><a href="#Address">Address</a></li>
              <li><a href="#token">Token</a></li>
              <li><a href="#Block">Block</a></li>
              <li><a href="#Transaction">Transaction</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Add a Sticky Menu -->
    <div class="grid-container full">
      <div class="grid-x text-center">
        <div class="cell">
          <h3>Statistics</h3>
        </div>
      </div> 
    
      <div class="grid-x">
        <div class="large-12 cell">
          <div class="callout">
            <div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Circulation</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.moac_circulation|intcomma }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>MoacMined</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.moac_mined|intcomma }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Ledgers</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.ledgers|intcomma }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Uncles</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.uncles|intcomma }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Transactions</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.transactions|intcomma }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Wallets</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.wallets|intcomma }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Contracts</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.contracts|intcomma }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Difficulty</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.difficulty }} T</h5></div>
                  </div>
                </div>
              </div>        
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Hashrate</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.hashrate }} T</h5></div>
                  </div>
                </div>
              </div>        
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>BigPools</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_ledger.data.bigpools }}</h5></div>
                  </div>
                </div>
              </div>        
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Tokens</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">&nbsp;</h5></div>
                  </div>
                </div>
              </div>        
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Subchains</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">&nbsp;</h5></div>
                  </div>
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>
    
      <div class="grid-x text-center">
        <div class="cell">
          <h2>CoinMarketCap</h2>
        </div>
      </div> 
      <div class="grid-x">
        <div class="large-12 cell">
          <div class="callout">
            <div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Price</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">US$ {{ stat_coinmarket.data.0.price_usd }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Price</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">BTC {{ stat_coinmarket.data.0.price_btc }}</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Change</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_coinmarket.data.0.percent_change_24h}}%</h5></div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="card">
                  <div class="card-divider">
                    <h5>Rank</h5>
                  </div>
                  <div class="card-section">
                    <div><h5 class="font-bold">{{ stat_coinmarket.data.0.rank }}</h5></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>     
      </div>

      <div class="grid-x text-center">
        <div class="cell">
          <h2>Resources</h2>
        </div>
      </div> 
      <div class="grid-x">
        <div class="large-12 cell">
          <div class="callout">
            <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-2">
              <div class="cell">&nbsp;</div>
              <div class="cell">&nbsp;</div>
            </div>
          </div>
        </div>     
      </div>

      <div class="grid-x text-center">
        <div class="cell">
          <h2>Charts</h2>
        </div>
      </div> 
      <div class="grid-x">
        <div class="large-12 cell">
          <div class="callout">
            <div class="grid-x grid-margin-x">
              <div class="cell">
                <div id="chart_balance"></div>
              </div>
              <div class="cell">
                <div id="chart"></div>
              </div>
              <div class="cell">
                <div id="google">
                  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1420_RC05/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"MOAC","geo":"","time":"today 12-m"},{"keyword":"墨客","geo":"","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"q=MOAC,%E5%A2%A8%E5%AE%A2&date=today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
                </div>
              </div>
            </div>
          </div>
        </div>     
      </div>
    
    </div>
    <script src="{% get_static_prefix %}assets/js/app.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    {% load chartit %}
    {{ chart_list|load_charts:"chart,chart_balance" }}
  </body>
</html>
